h3 Traffic fatalities correlate with the World Justice Project's <nobr>Rule of Law Index</nobr>

ul#legend
    li.low-income
        b
        div Low income
    li.lower-middle-income
        b
        div Lower-middle
    li.upper-middle-income
        b
        div Upper-middle
    li.high-income
        b
        div High

div#chart.clear

div.footnotes The Rule of Law Index is a publication of the <a href="http://worldjusticeproject.org/rule-of-law-index">World Justice Project</a>. Traffic fatalities per 100,000 population are from the <a href="http://www.who.int/gho/road_safety/mortality/traffic_deaths_number/en/">World Health Organization</a>.
