h3 Country-by-country traffic fatalities correlate with the World Justice Project's Rule of Law Index

ul#legend
    li.low-income
        b
        div Low income
    li.lower-middle-income
        b
        div Lower-middle income
    li.upper-middle-income
        b
        div Upper-middle income
    li.high-income
        b
        div High income

#chart

div.footnotes The Rule of Law Index is a publication of the <a href="http://worldjusticeproject.org/rule-of-law-index">World Justice Project</a>. Traffic fatalities data come from the <a href="http://www.who.int/gho/road_safety/mortality/traffic_deaths_number/en/">World Health Organization</a>.
